name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Snake Animation
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: "KartikeyaGupta05"
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Commit and Push to main branch (force)
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git checkout main
          cp dist/github-contribution-grid-snake.svg github-contribution-grid-snake.svg
          git add github-contribution-grid-snake.svg
          git commit -m "Update snake animation" || echo "No changes to commit"
          git push --force origin main
